<h1> Редактирование выпуска {{ issue }} </h1>




                    <div class="col-md-3">
                        <h3>Pages</h3>
                        <ul>
                            <li ng-repeat="p in pages"> {{ p.number }} <img src="{{ p.low_image }}" /> </li>
                        </ul>
                    </div>
                    <div class="col-md-9 well">
        
                         <h3>Text</h3>
                            {{ text }}
                        
                    </div>

